@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Warang+Citi&display=swap');

:root{
    --color-primario:blue;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    background-color: #ff7700;
    text-align: center;
    /*padding: 10px, 0;*/
    padding-top:10px;
    padding-bottom: 10px;
}

#menu{
list-style:none;
margin: 0;
padding: 0;
}

.opcion{
font-family: "Bebas Neue", sans-serif;
display:inline;
margin-left: 15px;
margin-right: 15px;
}



.hiper1{
    text-decoration:dotted;
    color: #ffae00;
    font-family: "Noto Sans Warang Citi", sans-serif;
    font-size: 25px;
    text-align: center
}

a{
    text-decoration:dotted;
    color: #000000;
    font-family: "Noto Sans Warang Citi", sans-serif;
    font-size: 25px;
    text-align: center
}
#superior{
background-image: url(../imagenes/uatttttt.jpg);
background-size: cover;
background-position: center;
height: 400px;
margin-bottom: 20px;
}

.Sobrepuesto{
color: rgb(255, 255, 255);
position: absolute;
top: 30%;
right: 37%;

background-color: rgba(0, 0, 0, 0.5);
text-align: center;
}

.carreras{
width: 400px;
height: 400px;
margin-left: 35px;
margin-top: 30px;

display: inline-block;
}



